async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.5
Deprecated==1.2.13
h11==0.13.0
idna==3.3
outcome==1.2.0
packaging==21.3
pycparser==2.21
pyparsing==3.0.9
PySocks==1.7.1
python-dotenv==0.20.0
redis==4.3.4
requests==2.28.1
selenium==4.4.3
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
spotipy==2.20.0
tqdm==4.64.0
trio==0.21.0
trio-websocket==0.9.2
urllib3==1.26.12
webdriver-manager==3.8.3
wrapt==1.14.1
wsproto==1.2.0
